/* CUSTOM-PROPS */
:root {
  --button-color:#f9bf29;
  --black:#2f2f2f;
  --light-black:#6a6a6a;
  --dark-green:rgb(59, 93, 80);
  --text-color: rgba(255, 255, 255, 0.55);
}
/* GLOBAL STYLES */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 28px;
  background-color: #eff2f1;
  color: var(--light-black);
  overflow-x: hidden;

}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* AUTOFILL-STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */

/* PLACEHOLDER COLOR */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgb(52, 49, 61);
  opacity: 1;
} */


/* CONTAINER */

.container {
  width: 100%;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON */

.hero__btns {
  margin-top: 0;
  margin-bottom: 16px;

}

.button {
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;

}

.button:hover {
  opacity: 0.8;
}



.primary-btn {
  margin-right: 10px;
  color: var(--black);
  background-color: var(--button-color);
}


.main-btn {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.main-btn:hover {
  border: 1px solid rgba(255, 255, 255);
  opacity: 1;
}

.secondary-btn {
  background-color:var(--black);
  color:#fff;
}
/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}


/* SITE-HEADER */

.site-header-hero {
  background-color: var(--dark-green);
}


.site-header__container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.site-header__logo {
  margin-right: 20px;
}

.logo {
  display: block;
  text-decoration: none;
}

.logo__name {
  margin: 0;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.site-header__sitenav {
  margin-left: auto;
  margin-right: 50px;
}


.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__item-active::after {
  position: absolute;
  display:block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--button-color);
  background-image:var(--button-color) ;
  content: "";
}



.sitenav__link {
  display: block;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}

.sitenav__link::after {
  position: absolute;
  display:none;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--button-color);
  background-image:var(--button-color) ;
  content: "";

}

.sitenav__link:hover::after {
  display: block;
}

.sitenav__link-active  {
  color: #fff;

}

.sitenav__link:hover {
  color: #fff;
}



.site-header__profile {
  display: flex;
}

.site-header__profile:hover {
  opacity: 0.6;
}

.site-header__profile-img {
  margin-right: 30px;
  width: 18px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
}


.site-header__cart {
  display: flex;
}

.site-header__cart:hover {
  opacity: 0.6;
}


.site-header__cart-icon {
  width: 24px;
  height: 23px;
  object-fit: contain;
  cursor: pointer;
}

.site-header__cart-link {
  display: flex;
}

.site-header__cart-icon:hover {
  opacity: 0.6;
}

/* HERO-SECTION */
.hero {
  padding-top: 98px;
  padding-bottom: 128px;
}

.hero__container {
  position: relative;
  display: flex;
  align-items: center;

}

.hero__content {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;

}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 54px;
  font-weight: 700;
  line-height: 65px;
  color: #fff;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--text-color);

}



.hero__img-side {
  display: flex;
}


.hero__img {
  position: absolute;
  z-index: 10;
  left: calc(500px + 60px);
  bottom: -180px;
  width: 780px;
  height: 560px;
  object-fit: contain;
}

.hero__img-dots {
  position: absolute;
  z-index: 5;
  top: -48px;
  right: -108px;
  width: 255px;
  height: 217px;

}


/* Product section */

.product-section {
  padding-top: 112px;
  padding-bottom: 112px;
}

.product-section__container {
  display: flex;
}

.product-section__content {
  width: 100%;
  max-width: 330px;

}
.product-section__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
}

.product-section__text {
  margin-top: 0;
  margin-bottom: 24px;
}


.product-section__products {
  display: flex;
  align-items: center;
}


.products__items {
  padding: 0 12px;
}

.products__item {
  position: relative;
  display: block;
  padding-bottom: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.products__img {
  position: relative;
  top: 0;
  margin-bottom: 30px;
  width: 306px;
  height: 306px;
  object-fit: contain;
  transition: 0.3s all ease;
}


.products__name {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--black);
}

.products__cost {
  margin: 0;
  font-size: 18px;
  color: var(--black);
}

.products__icon-cross {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-bottom: -17.5px;
  width: 35px;
  height: 35px;
  border-radius:50%;
  opacity: 0;
  visibility: hidden;
  background-color: var(--black);
  transition: 0.3s all ease;
}

.products__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products__item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: #dce5e4;
  height: 0%;
  border-radius: 10px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  content: "";
}

.products__item:hover .products__img {
  top: -25px;
}


.products__item:hover .products__icon-cross {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.products__item:hover::before {
  height: 70%;
}


/* WHY CHOOSE US */

.why-choose-us {
  padding-top: 112px;
  padding-bottom: 112px;
}

.wyh-choose-us__container {
  position: relative;
  display: flex;
}

.why-choose-us__content {
  padding: 0 12px;
  width: 100%;
  max-width: 660px;
}

.why-choose-us__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 500;
  color: var(--black);
}

.why-choose-us__text {
  margin-top: 0;
  margin-bottom: 30px;
}


.service {
  display: flex;
  flex-wrap: wrap;
}

.service__item {
  margin-bottom: 30px;
  width: 100%;
  max-width: 306px;
}

.service__icon-item {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.service__icon-item::before {
  position: absolute;
  right: -8px;
  bottom: 5px;
  width: 33px;
  height: 33px;
  background-color: rgba(59, 93, 80, 0.2);
  border-radius: 50%;
  content: "";
}


.service__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
  color: var(--black);
}

.service__text {
  margin-top: 0;
  margin-bottom: 16px;
}

.why-choose-us__images {
  margin-left: 90px;

}
.why-choose-us__img {
  width: 526px;
  height: 602px;
  border-radius: 20px;
  object-fit: contain;
}

.why-choose-us__dots--img {
  position: absolute;
  top: -88px;
  right: 400px;
  z-index: -1;
  width: 255px;
  height: 217px;
  object-fit: contain;
}

/* WE HELP SECTION */

.help {
  padding-top: 112px;
  padding-bottom: 112px;

}

.help__container {
  position: relative;
  display: flex;
}

.help__products {
  position: relative;
  width: 100%;
  max-width: 746px;
}


.help__grid-1 {
  width: 497px;
  height: 606px;
  border-radius: 20px;
}

.help__grid--2 {
  padding-left: 20px;
}
.help__grid-2 {
  position: absolute;
  top: 0;
  right: -20px;
  width: 229px;
  height: 229px;
  border-radius: 20px;
}


.help__grid-3 {
  position: absolute;
  bottom: -100px;
  right: -20px;
  border-radius: 20px;
}

.help__dots-img {
  position: absolute;
  top: -90px;
  left: -85px;
  z-index: -1;

}


.help__content {
  width: 100%;
  max-width: 550px;
  padding-left: 60px;
}

.help__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--black);
}

.help__text {
  margin-top: 0;
  margin-bottom: 16px;
}

.help__list {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0;
  padding: 0;
  list-style: none;
}

.help__item {
  position: relative;
  display: inline-block;
  width: calc(50% - 20px);
  padding-left: 20px;
  margin-bottom: 12px;
  line-height: 1.5;

}

.help__item::before {
  position: absolute;
  left: 0;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid var(--dark-green);
  content: "";
}

/* POPULAR PRODUCTS */

.popular-products {
  padding-top: 112px;
  padding-bottom: 112px;
}


.popular__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.popular__thumbnail {
  position: relative;
  margin-right: 10px;
}

.popular__thumbnail::before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98px;
  height: 98px;
  border-radius: 20px;
  background-color: #dce5e4;
  content: "";
}


.popular__img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.popular__item-content {
  width: 100%;
  max-width: 286px;
}

.popular__item-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
  color: var(--black);

}
.popular__item-text {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;

}

.popular__item-link {
  display: block;
  color: var(--dark-green);
  text-decoration: none;
  font-size: 14px;
}

.popular__item-link:hover {
  color: rgba(47, 47, 47, 0.5);
}

/* TESTIMONIALS SECTION */

.testimonials {
  padding-top: 48px;
  padding-bottom: 112px;
  overflow: hidden;
}

.testimonials__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.testimonials__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--black);
}

.testimonials__wrapper {
  max-width: 1320px;
}

.testimonials__content {
  padding-top: 30px;
}
.testimonials__text {
  margin-top: 0;
  margin-bottom: 40px;
  width: 845px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 32px;
  text-align: center;

}

.testimonials__img {
  margin-bottom: 20px;
  width: 80px;
  height: 77px;
  border-radius: 50%;
  object-fit: contain;

}

.testimonials__name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
}

.testimonials__job-name {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;

}

.testimonials__wrapper :is(.swiper-button-prev, .swiper-button-next) {
  width: 58px;
  height: 58px;
  background-color: rgba(59, 93, 80, 0.1);
  border-radius: 50%;
  transition: background-color 0.3s;
}

.testimonials__wrapper :is(.swiper-button-prev, .swiper-button-next):hover {
  background-color: var(--dark-green);
  color: #fff !important;;
}

.testimonials__wrapper :is(.swiper-button-prev, .swiper-button-next)::after {
  font-size: 14px!important;
  font-weight: 600!important;
  color: var(--black)!important;
}

.swiper-pagination {
  position: static!important;

}

.swiper-pagination .swiper-pagination-bullet {
  background-color: var(--dark-green)!important;

}

.swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--dark-green);

}


/* BLOG SECTION */
.blog {
  padding-top: 112px;
  padding-bottom: 192px;
}


.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--black);
}

.blog__header-link {
  display: block;
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
}

.blog__header-link:hover {
  text-decoration: none;
}

.blog__content {
  padding-top: 40px;
}

.blog__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog__item {
  padding: 0 12px;
  cursor: pointer;
}

.blog__item:hover {
  opacity: 0.7;
}

.blog__item-link {
  text-decoration: none;
}

.blog__img {
  display: flex;
  margin-bottom: 20px;
  width: 416px;
  height: 287px;
  border-radius: 30px;
  object-fit: contain;
}


.blog__post-title {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);

}

.blog__post-title a {
  text-decoration: none;
  color: var(--black);
}

.blog__meta-author, .blog__meta-date {
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

/* CTA SECTION */
.cta {
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: #fff;
}

.cta__container {
  position: relative;
  display: flex;
}


.cta__form-header {
  display: flex;
  align-items: center;
  margin: 0;
}
.cta__form-img {
  display: flex;
  margin-right: 10px;
  width: 28px;
  height: 27px;
  object-fit: contain;
}

.cta__form__title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--dark-green);
}

.cta__form-input {
  margin-top: 8px;
  padding: 12px 12px;
  border-radius: 10px;
  border: 1px solid #777;
  margin-right: 15px;
}


.cta__form-btn {
  padding: 12px 30px;
  border-radius: 10px;
  background-color: var(--dark-green);
  border: 0;
  color: #fff;
  cursor: pointer;

}

.cta__form-btn:hover {
  opacity: 0.8;
}

.cta__form-btn:active {
  opacity: 0.6;
}

.cta__img {
  position: absolute;
  top: -200px;
  right: 0;
}

/* FOOTER-SECTION */

.site-footer {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #fff;
}

.site-footer__wrapper {
  display: flex;
}

.footer-section__content {
  width: 100%;
  max-width: 400px;
  margin-right: 50px;
}
.site-footer__logo {
  margin-top: 0;
  margin-bottom: 24px;

}
.logo {
  display: block;
  text-decoration: none;
}
.site-footer__logo .logo__name {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: var(--dark-green);
}

.footer-section__text {
  margin-top: 0;
  margin-bottom: 24px;
}

.site-footer__socials {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style: none;
}

.site-footer__socials-item {
  border-radius: 50%;
  background-color: #dce5e4;

}

.site-footer__socials-item:not(:last-child) {
  margin-right: 10px;
}

.site-footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--dark-green);
  text-decoration: none;
}

.site-footer__socials-link:hover {
  color: #fff;
  background-color: var(--dark-green);
  border-radius: 50%;
}


.site-footer__links {
  display: flex;
  padding-top: 50px;
}

.site-footer__list {
  width: 194px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer__list:not(:last-child) {
  margin-right: 24px;
}

.site-footer__item {
  margin-bottom: 10px;
}

.site-footer__link {
  display: block;
  color: var(--black);
  text-decoration: none;

}

.site-footer__link:hover {
  opacity: 0.5;
}

.site-footer__line {
  margin-top: 50px;
  margin-bottom: 25px;
  opacity: 0.2;
}


.site-footer__copyright {
  display: flex;
  justify-content: space-between;

}
.site-footer__copyright-text p {
  margin: 0;
}

.site-footer__copyright-link {
  color: var(--black);
  text-decoration: none;
}

.site-footer__copyright-link:hover {
  opacity: 0.5;
}

.site-footer__copyright-links a {
  color: var(--black);
  text-decoration: none;

}

.site-footer__copyright-links a:hover {
  opacity: 0.5;
}

.site-footer__copyright-links a:not(:last-child) {
  margin-right: 24px;
}