/* CUSTOM-PROPS */
:root {
  --button-color:#f9bf29;
  --black:#2f2f2f;
  --light-black:#6a6a6a;
  --dark-green:#3b5d50;
  --text-color: rgba(255, 255, 255, 0.55);
}
/* GLOBAL STYLES */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 28px;
  background-color: #eff2f1;
  color: var(--light-black);
  overflow-x: hidden;

}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* AUTOFILL-STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */

/* PLACEHOLDER COLOR */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgb(52, 49, 61);
  opacity: 1;
} */


/* CONTAINER */

.container {
  width: 100%;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON */

.hero__btns {
  margin-top: 0;
  margin-bottom: 16px;

}

.button {
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;

}

.button:hover {
  opacity: 0.8;
}



.primary-btn {
  margin-right: 10px;
  color: var(--black);
  background-color: var(--button-color);
}


.main-btn {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.main-btn:hover {
  border: 1px solid rgba(255, 255, 255);
  opacity: 1;
}

.secondary-btn {
  background-color:var(--black);
  color:#fff;
}
/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}


/* SITE-HEADER */

.site-header-hero {
  background-color: var(--dark-green);
}


.site-header__container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.site-header__logo {
  margin-right: 20px;
}

.logo {
  display: block;
  text-decoration: none;
}

.logo__name {
  margin: 0;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.site-header__sitenav {
  margin-left: auto;
  margin-right: 50px;
}


.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__item-active::after {
  position: absolute;
  display:block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--button-color);
  background-image:var(--button-color) ;
  content: "";
}



.sitenav__link {
  display: block;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}

.sitenav__link::after {
  position: absolute;
  display:none;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--button-color);
  background-image:var(--button-color) ;
  content: "";

}

.sitenav__link:hover::after {
  display: block;
}

.sitenav__link-active  {
  color: #fff;

}

.sitenav__link:hover {
  color: #fff;
}



.site-header__profile {
  display: flex;
}

.site-header__profile:hover {
  opacity: 0.6;
}

.site-header__profile-img {
  margin-right: 30px;
  width: 18px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
}


.site-header__cart {
  display: flex;
}

.site-header__cart:hover {
  opacity: 0.6;
}


.site-header__cart-icon {
  width: 24px;
  height: 23px;
  object-fit: contain;
  cursor: pointer;
}

.site-header__cart-link {
  display: flex;
}

.site-header__cart-icon:hover {
  opacity: 0.6;
}

/* HERO-SECTION */
.hero {
  padding-top: 98px;
  padding-bottom: 128px;
}

.hero__container {
  position: relative;
  display: flex;
  align-items: center;

}

.hero__content {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;

}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 54px;
  font-weight: 700;
  line-height: 65px;
  color: #fff;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--text-color);

}



.hero__img-side {
  display: flex;
}


.hero__img {
  position: absolute;
  z-index: 10;
  left: calc(500px + 60px);
  bottom: -180px;
  width: 780px;
  height: 560px;
  object-fit: contain;
}

.hero__img-dots {
  position: absolute;
  z-index: 5;
  top: -48px;
  right: -108px;
  width: 255px;
  height: 217px;

}


/* Product section */

.product-section {
  padding-top: 112px;
  padding-bottom: 112px;
}

.product-section__container {
  display: flex;
}

.product-section__content {
  width: 100%;
  max-width: 330px;

}
.product-section__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
}

.product-section__text {
  margin-top: 0;
  margin-bottom: 24px;
}


.product-section__products {
  display: flex;
  align-items: center;
}


.products__items {
  padding: 0 12px;
}

.products__item {
  position: relative;
  display: block;
  padding-bottom: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.products__img {
  position: relative;
  top: 0;
  margin-bottom: 30px;
  width: 306px;
  height: 306px;
  object-fit: contain;
  transition: 0.3s all ease;
}


.products__name {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--black);
}

.products__cost {
  margin: 0;
  font-size: 18px;
  color: var(--black);
}

.products__icon-cross {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-bottom: -17.5px;
  width: 35px;
  height: 35px;
  border-radius:50%;
  opacity: 0;
  visibility: hidden;
  background-color: var(--black);
  transition: 0.3s all ease;
}

.products__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products__item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: #dce5e4;
  height: 0%;
  border-radius: 10px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  content: "";
}

.products__item:hover .products__img {
  top: -25px;
}


.products__item:hover .products__icon-cross {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.products__item:hover::before {
  height: 70%;
}


/* WHY CHOOSE US */

.why-choose-us {
  padding-top: 112px;
  padding-bottom: 112px;
}

.wyh-choose-us__container {
  position: relative;
  display: flex;
}

.why-choose-us__content {
  padding: 0 12px;
  width: 100%;
  max-width: 660px;
}

.why-choose-us__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 500;
  color: var(--black);
}

.why-choose-us__text {
  margin-top: 0;
  margin-bottom: 30px;
}


.service {
  display: flex;
  flex-wrap: wrap;
}

.service__item {
  margin-bottom: 30px;
  width: 100%;
  max-width: 306px;
}

.service__icon-item {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.service__icon-item::before {
  position: absolute;
  right: -8px;
  bottom: 5px;
  width: 33px;
  height: 33px;
  background-color: rgba(59, 93, 80, 0.2);
  border-radius: 50%;
  content: "";
}


.service__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
  color: var(--black);
}

.service__text {
  margin-top: 0;
  margin-bottom: 16px;
}

.why-choose-us__images {
  margin-left: 90px;

}
.why-choose-us__img {
  width: 526px;
  height: 602px;
  border-radius: 20px;
  object-fit: contain;
}

.why-choose-us__dots--img {
  position: absolute;
  top: -88px;
  right: 400px;
  z-index: -1;
  width: 255px;
  height: 217px;
  object-fit: contain;
}

/* WE HELP SECTION */

.help {
  padding-top: 112px;
  padding-bottom: 112px;

}

.help__container {
  position: relative;
  display: flex;
}

.help__products {
  position: relative;
  width: 100%;
  max-width: 746px;
}


.help__grid-1 {
  width: 497px;
  height: 606px;
  border-radius: 20px;
}

.help__grid--2 {
  padding-left: 20px;
}
.help__grid-2 {
  position: absolute;
  top: 0;
  right: -20px;
  width: 229px;
  height: 229px;
  border-radius: 20px;
}


.help__grid-3 {
  position: absolute;
  bottom: -100px;
  right: -20px;
  border-radius: 20px;
}

.help__dots-img {
  position: absolute;
  top: -90px;
  left: -85px;
  z-index: -1;

}


.help__content {
  width: 100%;
  max-width: 550px;
  padding-left: 60px;
}

.help__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--black);
}

.help__text {
  margin-top: 0;
  margin-bottom: 16px;
}

.help__list {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0;
  padding: 0;
  list-style: none;
}

.help__item {
  position: relative;
  display: inline-block;
  width: calc(50% - 20px);
  padding-left: 20px;
  margin-bottom: 12px;
  line-height: 1.5;

}

.help__item::before {
  position: absolute;
  left: 0;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid var(--dark-green);
  content: "";
}